@using BulkyBook.Models.DatabaseModel
@model List<Product>
<br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Product List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-secondary bi bi-plus-square float-end"> Create New Product </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <td >
                    @i.Title
                </td>
                <td >
                    @i.ISBN
                </td>
                <td >
                    @i.Price
                </td>
                <td >
                    @i.Author
                </td>
                <td >
                    @i.Category.Name
                </td>
                <td style="text-align:center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" style="margin-right:10px;" asp-controller="Product" asp-action="EditProduct" asp-route-productId="@i.ProductId">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-productId="@i.ProductId">
                            <i class="bi bi-x-square"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
